@import 'lib';

/* headroom */
.headroom {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    transition: transform .25s ease-in-out;
}
.headroom--unpinned {
    transition: .25s;
    transform: translateY(-100%);
}
.headroom--pinned {
    transition: .5s;
}

/* header */
body {
    box-sizing: border-box;
}
.rd_header {
    width:100%;
    background-color: rgba(0,0,0,0.5);
}