@import 'lib';

/* headroom */
.headroom {
    position: sticky;
    z-index: 9998;
    top: 0;
    left: 0;
    transition: transform .25s ease-in-out;
}
.headroom--unpinned {
    transition: .25s;
    transform: translateY(-100%);
}
.headroom--pinned {
    transition: .5s;
}

/* header */
.rd_header {
    width:100%;
    background-color: white;
    color:black;
    text-align: right;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    .rd_header_cell {
        display:inline-block;
        padding:10px;
        transition: all 0.5s;
        cursor:pointer;
        &:hover {
            background-color:black;
            color:white;
        }
        @media (max-width:$responsive_1) {
            display:block;
        }
    }
    @media (max-width:$responsive_1) {
        text-align: center;
    }
}