/* header */

/* headroom */
.headroom {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    transition: transform .25s ease-in-out;
}

.headroom--unpinned {
    transition: .25s;
    transform: translateY(-100%);
}

.headroom--pinned {
    transition: .5s;
}

/* header */
body {
    margin-top: 100px;
}

.rd_header {
    height: 100px;
    width: 100%;
    background-color: green;
}
